body {
    background-color: LightCyan;
}

.no-display {
    display: none;
}

.center {
    margin: auto;
    padding: 10px 50px;
    text-align: center;
    font-size: 14px;
}

.title {
    font-size: 50px;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #262626;
}

.content {
    margin-top: 5em;
}

.analyze {
    margin-top: 5em;
}

.upload-label {
    padding: 5px;
    font-size: 20px;
}

.result-label {
    margin-top: 0.5em;
    padding: 10px;
    font-size: 50px;
    color: Black;
}

button.choose-file-button {
    width: 300px;
    height: 60px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px DarkGreen;
    font-size: 22px;
    color: DarkGreen;
}

button.analyze-button {
    width: 300px;
    height: 60px;
    border: solid 1px DarkGreen;
    border-radius: 2px;
    background-color: DarkGreen;
    font-size: 22px;
    color: White;
}

button:focus {
    outline: 0;
}
